
@font-face {
    font-family: 'poppins';
    src: url('./font/Poppins-ExtraBold.ttf');
}

/* header section */
.bg-color {
    background-color: #264653;
    margin-right: -10px;
}
.header-btn {
    margin-right: 156px;
    background-color: #E76F51;
    margin-top: 42px;
    margin-left: 100px;
    width: 91px;
    height: 44px;
    border: none;
}
.navbar-nav {
    margin-top: 42px;
    gap: 36px;
}
.navbar-nav li a{
    font-weight: 500;
}

/* Hero section */
.hero-left {
    padding-left: 156px;
}
.hero-width{
    width: 455px;
    color: #E0E0E0;
}
.hero-right {
    padding-right: 183px;
    margin-top: 50px;
}
.hero-btn {
    background-color: #E76F51;
    border: none;
}
.hero-bike {
    width: 100%;
}

/*  fetured section */
.fetured-title {
    font-size: 48px;
    margin-top: 64px;
}
.feature-description {
    font-size: 14px;
    color: #E76F51;
    margin-bottom: -7px;
}
.feature-underline {
    color: #E76F51;
    width: 58.5px;
}
.bw-image {
    filter: grayscale(100%);
}
.feature-bike {
    padding-left: 50px;
    margin-top: 100px;
    gap: 108px;
}

/* latest section */
.latest-container {
    gap: 20px;
    padding-left: ;
    padding-right: ;
}
.latest-title {
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 47px;
}
.latest-width {
    width: 268px;
}
.latest-btn {
    width: 160px;
    height: 57px;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    background-color: #E76F51;
}
.latest-btn-outline {
    width: 160px;
    height: 57px;
    font-size: 18px;
    color: #E76F51;
    background-color: transparent;
    border: 1px solid;
    border-color: #E76F51;
    margin-top: 15px;
}
    
/* happpy section */
.happy-container  {
    gap: 43px;
}
.happy-title {
    margin-top: 130px;
    margin-bottom: 52px;
    font-size: 35px
}
.happy-description {
    width: 207px;
    margin-left: 30px;
    color: #6C6C6C;
}

/* frequently section */
.frequently-contain {
    margin-left: 20px;
}
.frequentiy-title {
    font-size: 48px;
    margin-top: 130px;
    margin-bottom: 100px;
}
.text-orange {
    color: #E76F51;
}
.frequently-width {
    width: 330px;
}
.frequentiy-img {
    margin-left: 0px;
    margin-top: 30px;
}
.card-title {
    font-size: 20px;
}
.card-description {
    width: 428px;
    margin-top: 8px;
    color: #6C6C6C;
}
.border-subtitle {
    font-size: 20px;
    color: #383838;
}
.frequently-width {
    width: 445px;
}
.frequentiy-img {
    width: 424px;
    height: 397px;
}
.border-width {
    width: 490px;
    padding-left: 15px;
    border: 1px solid #D5E5FB;
}

/* footer section */
.footer-left {
    padding-left: 165px;
}
.footer-img {
    width: 150px;
}
.text-decoration {
    display: flex !important;
    gap: 10px;
    margin-left: -30px;
}
.list-none {
    display: inline-block;
    list-style: none;
}
.text-decoration li a {
    text-decoration: none;
    color: #D9DBE1;
}
.text-decoration li {
    list-style: none;
}
.text-top {
    color: #D5E5FB;
}
.text-bottom {
    color: #D5E5FB;
}
.right-top-text {
    color: #D5E5FB;
}
.footer-left {
    padding-left: 165px;
}
.footer-right {
    width: 290px;
    color: #D9DBE1;
}