
/* header section */
.header-bg {
    background-image: url('./images/others/new-bike.png');
    background-repeat: no-repeat;
    padding-bottom: 41rem;
}
.navbar-nav li a{
    font-weight: 500;
}
/*  fetured section */
.bw-image {
    filter: grayscale(100%);
}
/* happpy section */
.happy-description {
    width: 207px;
    margin-left: 30px;
    color: #6C6C6C;
}
/* frequently section */
.text-orange {
    color: #E76F51;
}
.card-description {
    width: 428px;
    margin-top: 8px;
    color: #6C6C6C;
}
.border-subtitle {
    font-size: 20px;
    color: #383838;
}
.border-width {
    width: 490px;
    padding-left: 15px;
    border: 1px solid #D5E5FB;
}